.blocks
    @include in-page-without-sidebar
        .block + .block
            --block-space-y: #{space(64)}
    .block-chapter
        &--accent_background
            background: none !important
            .chapter
                background: none !important
                .text
                    padding: 0 !important
            .rich-text
                color: $color-accent
                font-style: italic
                @include media-breakpoint-up(lg)
                    font-size: pxToRem(26)
                a
                    color: $color-accent
                    text-decoration-color: $color-accent
    .block-posts
        &--carousel
            .media
                picture
                    img
                        aspect-ratio: 3/4
// Used also on pages with no blocks
.block-pages 
    article 
        .media
            picture
                img
                    border-radius: $image-radius  
