$color-accent: #222e44 !default
$color-text: #000000 !default
$color-text-alt: #454545 !default
$color-border: rgba(0, 0, 0, 0.20) !default
$color-background-alt: #F8F9FA !default
$color-background: #FFFFFF !default
$color-gradient: linear-gradient(45deg, #e3ffe7 0%, #d9e7ff 100%) !default

$font-sans: "Borna", sans-serif !default
$font-serif: "Novela", serif !default
$body-font-family: $font-serif !default
$heading-font-family: $font-sans !default
$heading-font-weight: normal !default

$h1-family: normal !default
$h3-size-desktop: pxToRem(26) !default
$h5-font-family: $font-serif !default
$h5-weight: bold !default
$h5-text-transform: none !default
$lead-hero-font-family: $font-serif !default
$lead-hero-size: pxToRem(30) !default
$lead-hero-size-desktop: pxToRem(60)

$body-overlay-color: $color-accent !default
$header-logo-height-desktop: 50px !default
$header-border-bottom-width: 0 !default
$header-background: none !default
$header-dropdown-full: true !default
$hero-background-color: $color-gradient !default
$footer-color: $color-background !default
$footer-background-color: $color-accent !default
$footer-logo-height-desktop: $header-logo-height-desktop !default
$footer-background-color: $color-background !default