// MAIN COLORS
$color-accent: #FFFFFF !default
$color-text: #000000 !default
$color-text-alt: #454545 !default
$color-border: rgba(0, 0, 0, 0.30) !default
$color-background-alt: #FFFFFF !default
$color-background: #FFFFFF !default


// Fonts family   
$body-font-family: "Basier Circle", sans-serif !default
$heading-font-family: "Basier Circle", sans-serif !default
$lead-font-family: "Basier Circle", sans-serif !default

//Headings
$heading-font-weight: bold
$h1-size-desktop: px2rem(62)
$h2-size-desktop: px2rem(30)
$h2-weight: normal
$h3-size-desktop: px2rem(25)
$h4-size-desktop: px2rem(22)
$h4-weight: normal

//Body
$body-size-desktop: px2rem(18)
$body-weight: normal

//Small
$small-size-desktop: px2rem(16) !default
$small-weight: 300

//Meta
$meta-line-height: 130%
$meta-size: px2rem(14)
$meta-weight: normal

//logo
$header-logo-height-desktop: 35px

