header#document-header
    border-bottom: none
    nav
        font-size: px2rem(12)

footer#document-footer
    a
        text-transform: none
    .logo img
        display: none
    
a
    text-transform: uppercase

.breadcrumb
    text-transform: uppercase