.hero
    align-items: flex-end
    display: flex
    min-height: 80vh
    &:not(.hero--with-image)
        .hero-text
            width: 100%
            h1 + p
                margin-top: $spacing-1
            .lead
                @include media-breakpoint-up(lg)
                    width: columns(8)
.lead
    font-style: italic
    margin-top: 0 !important
.top
    margin-bottom: $spacing-3
.toc 
    ol 
        .active
            font-weight: bold

.breadcrumb-container
    border-top: 1px solid $color-border
    border-bottom: 1px solid $color-border
    margin-bottom: $spacing-5
.blocks
    .block-chapter
        &--accent_background
            background: none !important
            .chapter
                background: none !important
                .text
                    padding: 0 !important
            .rich-text
                color: $color-accent
                @include lead-hero