body
    &::after
        mix-blend-mode: multiply
.hero
    align-items: flex-end
    display: flex
    min-height: 80vh
    &:not(.hero--with-image)
        .hero-text
            width: 100%
            h1 + p
                margin-top: $spacing-1
            .lead
                @include media-breakpoint-up(lg)
                    width: columns(8)
.lead
    font-style: italic
    margin-top: 0 !important
.top
    margin-bottom: $spacing-3
.toc 
    ol 
        .active
            font-weight: bold
.breadcrumb-container
    border-top: 1px solid $color-border
    border-bottom: 1px solid $color-border
    margin-bottom: $spacing-5
.blocks
    .block-chapter
        &--accent_background
            background: none !important
            .chapter
                background: none !important
                .text
                    padding: 0 !important
            .rich-text
                color: $color-accent
                font-style: italic
                @include media-breakpoint-up(lg)
                    font-size: pxToRem(26)
footer#document-footer
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    padding-bottom: $spacing-6
    min-height: 80vh
    @include media-breakpoint-up(lg)
        .nav-social
            background: $color-text
            position: absolute
            bottom: 0
            left: 0
            right: 0
            text-align: right
            padding: $spacing-3 $spacing-5
            li
                display: inline
            a
                color: $color-background
                padding-left: $spacing-4
                @include meta
                &::after
                    content: none